<!--****************************************************************************************************-->
<!--*****************************Foi retirado do principal*********************-->
<!--****************************************************************************************************-->
<div class="list-group">
<a href="#" class="list-group-item">
    <div class="media col-md-3">
        <figure class="pull-left">
            <img class="media-object img-rounded img-responsive" src="http://placehold.it/140x100" alt="placehold.it/140x100" >
        </figure>
    </div>
    <div class="col-md-5">
        <h4 class="list-group-item-heading pb-3"> Olympic </h4>
        <p class="list-group-item-text"> Proposal to implement best in class enterprise permissioning system to manage signature accumulation and hierarchy management</p>
    </div>
    <div class="col-md-3 pull-left">
        <div class = "container col-md-12">
            <div class = "row">
                <div class="col-md-12 pull-left"><i class="fa fa-check-square"></i> General Manager</div>
            </div>
            <div class = "row">
                <div class="col-md-12 pull-left"><i class="fa fa-check-square"></i> Project Manager</div>
            </div>
            <div class = "row">
                <div class="col-md-12 pull-left"><i class="fa fa-square"></i> Tech Lead</div>
            </div>
        </div>
    </div>
    <div class="col-md-1 text-center">
        <p> 2 <small> approvals </small></p>
        <button type="button" class="btn btn-primary btn-sm btn-block">Open</button>
    </div>
</a>

<div class="container-fluid">
    <ul class="treeview">
        <li class="cat"><i class="far fa-list-alt fa-lg" style="margin-right:10px;"></i><a href="#">Categoria 1</a></li>
        <ul class="notativo">
            <li class="subcat"><i class="far fa-caret-square-right fa-lg" style="margin-right:10px;"></i><a href="#">Subcategoria 1</a></li>
            <ul class="notativo">
                <li id="prod"><a href="#">Produto 1</a></li>
                <li id="prod"><a href="#">Produto 2</a></li>
            </ul>
        </ul>	
        <ul class="notativo">
            <li class="subcat" ><i class="far fa-caret-square-right fa-lg" style="margin-right:10px;"></i><a href="#">Subcategoria 1</a></li>
            <ul class="notativo">
                <li id="prod"><a href="#">Produto 1</a></li>
                <li id="prod"><a href="#">Produto 2</a></li>
            </ul>
        </ul>
    </ul>
</div>
</div>
