<div class="l-sidebar">
    <div class="logo">
      <div class="logo__txt"><a href="/admin" style="text-decoration: none; color:white;"><img id="logo-admin" src="../../public/img/logo-br-img.png" alt="" style="width: 30px;"></a></div>
    </div>
    <div class="l-sidebar__content">
      <nav class="c-menu js-menu">
        <ul class="u-list">
          <%if(usuario.admin && usuario.role === "desenvolvedor"){%>
            <li class="c-menu__item" data-toggle="tooltip" title="Adicionar Categoria">
              <a href="/admin/new/categoria" style="text-decoration: none; color:white">
              <div class="c-menu__item__inner"><i class="fa fa-history" style=" color:white;"></i>
                <div class="c-menu-item__title"><span style=" color:white;">Adicionar categorias</span></div>
              </div>
              </a>
            </li>
            <%}%>
            <!--is-active : classe para tornar um item ativo-->
          <li class="c-menu__item" data-toggle="tooltip" title="Adicionar produtos">
            <a href="/admin/new/produto" style="text-decoration: none;">
            <div class="c-menu__item__inner"><i class="fa fa-file-text-o" style=" color:white;"></i>
              <div class="c-menu-item__title"><span style=" color:white;">Adicionar Produtos</span></div>
            </div>
            </a>
          </li>
          
          <li class="c-menu__item" data-toggle="tooltip" title="Configuracoes">
            <a href="/admin/userconfig"style="text-decoration: none; color:white">
              <div class="c-menu__item__inner"><i class="fa fa-cogs" style=" color:white;"></i>
                <div class="c-menu-item__title"><span style=" color:white;">Settings</span></div>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>