<%- include('./header')%>
    <!-- cadastro de header -->
    <div style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 50px; background-color: #88B73A; height: 60px; align-items: center; color: white; font-weight: bold; font-size: 20px;">NOVA CATEGORIA</div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="/admin/categoria" method="post">
            <div id="header">
              <h5>Cabecalho da categoria</h5>
              <div class="form-group" style="margin-bottom: 4rem; margin-top: 2rem;">
                <input class="new-input" type="text" placeholder="TITULO" name="headerTitulo" required>
              </div>
              <div class="form-group" style="margin-bottom: 4rem;">
                <textarea class="new-input" name="headerDescricao" placeholder="DESCRICAO" id="" cols="30" rows="5"></textarea>
              </div>
            </div>
          <!-- cadastro de categoria -->
          <!-- Uma categoria nao pode ter o id proprio repetido dentro da tabela -->
            <div id="categoria">
              <h5>Categoria</h5>
                <!--Sempre sera incluida uma categoria-->
                <input class="d-none" id="categoriaChecked" name="categoriaChecked" type="text" value="on">
              <div class="form-group" style="margin-bottom: 4rem; margin-top: 2rem;">
                <input class="new-input" type="text" placeholder="TITULO" name="categoriaTitulo" required>
              </div>
              <div class="form-group" style="margin-bottom: 4rem;">
                <textarea class="new-input" name="categoriaDescricao" placeholder="DESCRICAO" rows="5" cols="30"></textarea>
              </div>
            </div>
            <div>
              <button class="btn btn-admin" type="submit">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
<script src="../../public/javascript/admin/newCategoria.js"></script>
<%- include('./footer')%>
