<%- include('./header')%>
<!-- cadastro de header -->
<div style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 50px; background-color: #88B73A; height: 60px; align-items: center; color: white; font-weight: bold; font-size: 20px;">NOVO PRODUTO</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="/admin/produto" method="post">
        <div class="form-group mb-5">
            <input class="new-prod-input" type="text" placeholder="TITULO" required>
        </div>
        <div class="form-group mb-5">
            <textarea class="new-prod-input" name="prodDescricao" placeholder="DESCRICAO" id="" cols="30" rows="5"></textarea>
        </div>
        <div id="divCategoriaPai" class="form-group mb-5">
            <!-- <label for="categoriaPai">Pertence a categoria</label> -->
            <select data-toggle="tooltip" data-placement="top" title="Pertence a categoria" class="form-control new-prod-select" name="categoriaPai" id="categoriaPai" ></select>
        </div>
        <div id="divSubCategoria" class="form-group mb-5">
            <!-- <label for="subCategoria">Pertence a subcategoria</label> -->
            <div class="input-group mb-5">
              <div class="input-group-prepend" id="modalCategoria" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="input-text-prepend"><i class="fas fa-plus"style="color: white;"></i></div>
              </div>
              <select data-toggle="tooltip" data-placement="top" title="Pertence a subcategoria" class="form-control new-prod-select" name="subCategoria" id="subCategoria"></select>
            </div>
            
        </div>
        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" id="subCategoriaChecked" name="subCategoriaChecked">Nao tenho subcategoria</input>
        </div>
        <div class="pt-2" style="margin-top:40px;">
            <button class="btn btn-admin" type="submit">Salvar</button>
        </div>
    </form>
    </div>
  </div>

</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLongTitle">Insira uma subcategoria</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin/categoria" method="post">
            <div class="p-1" id="header">
              <h5>Cabecalho da Subcategoria</h5>
              <div class="form-group">
                <label for="headerTitulo">Titulo</label>
                <input class="form-control" type="text" id="headerTitulo" name="headerTitulo" required>
              </div>
              <div class="form-group">
                <label for="headerDescricao">Descricao</label>
                <textarea class="form-control" id="headerDescricao" name="headerDescricao" id="" cols="30" rows="5"></textarea>
              </div>
            </div>
          <!-- cadastro de categoria -->
          <!-- Uma categoria nao pode ter o id proprio repetido dentro da tabela -->
            <div class="mt-1 p-1" id="categoria">
              <h5>Subcategoria</h5>

              <div class="form-group">
                <label for="categoriaTitulo">Titulo</label>
                <input class="form-control" id="categoriaTitulo" type="text" name="categoriaTitulo" required>
              </div>
              <div class="form-group">
                <label for="categoriaDescricao">Descricao</label>
                <textarea class="form-control" id="categoriaDescricao" name="categoriaDescricao" rows="5" cols="30"></textarea>
              </div>
            </div>
            <p id="demo" style="color:red; font-family:'Times New Roman', Times, serif;"></p>
            <div class="pt-2">
              <button class="btn btn-admin" type="submit" id="newSubcategoria">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<script src="../../public/javascript/admin/newProduto.js"></script>
<%- include('./footer')%>