<%- include('./header')%>
<!-- cadastro de header -->
<div style="display: flex; flex-direction: row; justify-content: center; margin-bottom: 50px; background-color: #88B73A; height: 60px; align-items: center; color: white; font-weight: bold; font-size: 20px;">NOVO PRODUTO</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="../../public/img/eng.png" alt="" style="width: 30px;" id="eua-flag">
      <img src="../../public/img/esp.png" alt="" style="width: 30px;" id="esp-flag">
      <img src="../../public/img/pt.png" alt="" style="width: 30px;" id="pt-flag" class="active">
      <form action="/admin/produto" id="novo-produto" method="post" style="margin-top: 3rem;">
        <div class="form-group pt" style="margin-bottom: 5rem;">
            <input class="new-input" type="text" name="prodTitulo" placeholder="TITULO" required>
        </div>
        <!-- Titulo em ingles -->
        <div class="form-group d-none eua" style="margin-bottom: 5rem;"> 
          <input class="new-input" type="text" name="prodTituloEng" placeholder="TITULO" required>
        </div>
        <!-- Titulo em Espanhol -->
        <div class="form-group d-none esp" style="margin-bottom: 5rem;">
          <input class="new-input" type="text" name="prodTituloEsp" placeholder="TITULO" required>
        </div>
        <div class="form-group pt" style="margin-bottom: 5rem;">
            <textarea class="new-input" name="prodDescricao" placeholder="DESCRICAO" cols="30" rows="5"></textarea>
        </div>
        <!-- Descricao em Ingles -->
        <div class="form-group d-none eua" style="margin-bottom: 5rem;">
          <textarea class="new-input" name="prodDescricaoEng" placeholder="DESCRICAO" cols="30" rows="5"></textarea>
        </div>
        <!-- Descricao em espanhol -->
        <div class="form-group d-none esp" style="margin-bottom: 5rem;">
          <textarea class="new-input" name="prodDescricaoEsp" placeholder="DESCRICAO" cols="30" rows="5"></textarea>
        </div>
        <div id="divCategoriaPai" class="form-group" style="margin-bottom: 5rem;">
            <!-- <label for="categoriaPai">Pertence a categoria</label> -->
            <select data-toggle="tooltip" data-placement="top" title="Pertence a categoria" class="form-control new-select" name="categoriaPai" id="categoriaPai" ></select>
        </div>
        <div id="divSubCategoria" class="form-group" style="margin-bottom: 5rem;">
            <!-- <label for="subCategoria">Pertence a subcategoria</label> -->
            <div class="input-group mb-5">
              <div class="input-group-prepend" id="modalCategoria" data-toggle="modal" data-target="#exampleModalCenter">
                <div class="input-text-prepend"><i class="fas fa-plus"style="color: white;"></i></div>
              </div>
              <select data-toggle="tooltip" data-placement="top" title="Pertence a subcategoria" class="form-control new-select" name="subCategoria" id="subCategoria"></select>
            </div>
            
        </div>
        <!-- <div class="form-group form-check mb-3">
            <input type="checkbox" class="form-check-input" id="subCategoriaChecked" name="subCategoriaChecked">Nao tenho subcategoria</input>
        </div> -->
        <div class="custom-control custom-switch mb-3">
          <input type="checkbox" class="custom-control-input" name="subCategoriaChecked" id="subCategoriaChecked">
          <label class="custom-control-label" for="subCategoriaChecked" style="color: black;">Nao tenho subcategoria</label>
      </div>
        <div class="pt-2" style="margin-top:40px;">
            <button class="btn btn-admin" type="submit">Salvar</button>
        </div>
    </form>
    </div>
  </div>

</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-color: #f0f3f5;">
        <div class="modal-header" style="background-color:#88B73A;">
          <h5 class="modal-title" id="exampleModalLongTitle" style="color: white;"><strong>NOVA SUBCATEGORIA</strong><h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times-circle" style="color: white;"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin/categoria" method="post">
            <div class="p-1" id="header">
              <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <span><h6>Cabecalho</h6></span>
                <!-- Os ids das flags sao diferentes do restante da aplicacao -->
                <div style="display: flex; justify-content: space-around; width: 25%;">
                  <img src="../../public/img/eng.png" alt="" style="width: 30px;" id="eua-cat-flag">
                  <img src="../../public/img/esp.png" alt="" style="width: 30px;" id="esp-cat-flag">
                  <img src="../../public/img/pt.png" alt="" style="width: 30px;" id="pt-cat-flag" class="active">
                </div>
              </div>
              <hr>
              <div class="form-group cat-pt">
                <label for="headerTitulo">Titulo</label>
                <input class="form-control" type="text" id="headerTitulo" name="headerTitulo" required>
              </div>
              <div class="form-group d-none cat-eua">
                <label for="headerTituloEng">Titulo</label>
                <input class="form-control" type="text" id="headerTituloEng" name="headerTituloEng" required>
              </div>
              <div class="form-group d-none cat-esp">
                <label for="headerTituloEsp">Titulo</label>
                <input class="form-control" type="text" id="headerTituloEsp" name="headerTituloEsp" required>
              </div>
              <div class="form-group cat-pt">
                <label for="headerDescricao">Descricao</label>
                <textarea class="form-control" id="headerDescricao" name="headerDescricao" cols="30" rows="3"></textarea>
              </div>
              <div class="form-group d-none cat-eua">
                <label for="headerDescricaoEng">Descricao</label>
                <textarea class="form-control" id="headerDescricaoEng" name="headerDescricaoEng" cols="30" rows="3"></textarea>
              </div>
              <div class="form-group d-none cat-esp">
                <label for="headerDescricaoEsp">Descricao</label>
                <textarea class="form-control" id="headerDescricaoEsp" name="headerDescricaoEsp" cols="30" rows="3"></textarea>
              </div>
            </div>
          <!-- cadastro de categoria -->
          <!-- Uma categoria nao pode ter o id proprio repetido dentro da tabela -->
            <div class="mt-1 p-1" id="categoria">
              <h6>Dados</h6>
              <hr>
              <div class="form-group cat-pt">
                <label for="categoriaTitulo">Titulo</label>
                <input class="form-control" id="categoriaTitulo" type="text" name="categoriaTitulo" required>
              </div>
              <div class="form-group d-none cat-eua">
                <label for="categoriaTituloEng">Titulo</label>
                <input class="form-control" id="categoriaTituloEng" type="text" name="categoriaTituloEng" required>
              </div>
              <div class="form-group d-none cat-esp">
                <label for="categoriaTituloEsp">Titulo</label>
                <input class="form-control" id="categoriaTituloEsp" type="text" name="categoriaTituloEsp" required>
              </div>
              <div class="form-group cat-pt">
                <label for="categoriaDescricao">Descricao</label>
                <textarea class="form-control" id="categoriaDescricao" name="categoriaDescricao" rows="3" cols="30"></textarea>
              </div>
              <div class="form-group d-none cat-eua">
                <label for="categoriaDescricaoEng">Descricao</label>
                <textarea class="form-control" id="categoriaDescricaoEng" name="categoriaDescricaoEng" rows="3" cols="30"></textarea>
              </div>
              <div class="form-group d-none cat-esp">
                <label for="categoriaDescricaoEsp">Descricao</label>
                <textarea class="form-control" id="categoriaDescricaoEsp" name="categoriaDescricaoEsp" rows="3" cols="30"></textarea>
              </div>
            </div>
            <p id="demo" style="color:red; font-family:'Times New Roman', Times, serif;"></p>
            <div class="pt-2">
              <button class="btn btn-admin" type="submit" id="newSubcategoria">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<script src="../../public/javascript/admin/newProduto.js"></script>
<%- include('./footer')%>