<div id="banner" class="container-fluid p-0" style="height:600px; background-color:grey;"">
  <div class="row" style="height:100%;">
    <div class="col-md-3">
      <div class="row align-items-end" style="height:100%;">
        <div class="col d-flex justify-content-start align-items-center" style="margin-bottom: 30%;">
          <h2 class="pl-5" style="color:white;"><p><%=p1%></p> <p><%=p2%></p> <p><%=p3%></p><p><strong><%=p4%></strong></p></h2>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
</div>
