<div id="banner" class="banner p-0" style="background: no-repeat center/cover url(<%- imageUrl %>)">
  <div class="banner__overlay"></div>
  <div class="row h-100">
    <div class="col-md-4 h-100 w-100">
      <div class="row align-items-end w-100 h-100">
        <div class="col d-flex justify-content-start align-items-center" style="margin-bottom: 20%;">
          <h2 class="base-padding-left banner__header"><%- title %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
