<div id="banner" class="banner p-0" style="background: no-repeat center/cover url(<%- imageUrl %>)">
  <div class="banner__overlay"></div>
  <div class="row h-100">
    <div class="banner__text">
      <h2 class="base-padding-left banner__header"><%- title %></h2>
    </div>
  </div>
</div>
