<%- include('./header') %>
<!--background-image:url('https://image.shutterstock.com/image-photo/blackboard-inscribed-scientific-formulas-calculations-600w-1065730331.jpg'); background-repeat: no-repeat; background-size:100%"-->
<div id="banner" class="container-fluid" style="height:600px; background-color:grey;"">
  <div class="row" style="height:100%;">
    <div class="col-md-3">
      <div class="row align-items-end" style="height:100%;">
        <div class="col d-flex justify-content-start align-items-center" style="margin-bottom: 30%;">
          <h2 class="pl-3" style="color:white;"><P>Um bom</p> <p>atendimento</p> <p>faz toda a</p><p>diferenca</p></h2>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="row pl-5 pr-5 mt-5">
  <div class="col-md-6">
    <div class="row align-items-center">
      <i class="fas fa-square fa-sm" style="color:red; width:100%;"><span class="ml-2" style="color:black; font-size:20px;">Fale <strong>conosco</strong></span></i>
    </div>
    <div class="row text-rightr">
      <p>Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico.</p>
      <p>Com mais de 2000 anos, suas raízes podem ser encontradas em uma obra de literatura latina clássica datada de 45 AC.</p>
    </div>
  </div>
  <div class="col-md-6">
    <form class="" action="index.html" method="post">
      <label for="">Nome</label>
    </form>
  </div>
</div>
<%- include('./footer') %>
