<%- include('./header') %>
<%- include('./banner', {title:'Um bom <br>atendimento <br>faz toda a <br><b>diferença</b>', imageUrl: 'https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'})%>

<div class="base-container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="contato__container">
        <div class="contato__header">
          <i class="fas fa-square fas-sm mr-3"></i>
          Fale <b class="ml-2">conosco</b>
        </div>
        <div class="contato__content">
          <div class="contato__main-text pt-3">
            Preencha o formulário e nossa equipe técnica entrará em contato o mais breve possível.
            <br><br>
            Ou se preferir, envie sua solicitação para
            <a href="mailto:contato@aplinova.com"><b>contato@aplinova.com</b></a>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6 pt-2">
      <form>
        <div class="col-md-12">
          <div class="mb-5">
            <input class="input-form" type="text" name="nome" id="nome" placeholder="NOME" autofocus>
          </div>
          <div class="mb-5">
            <input class="input-form" type="text" name="email" id="email" placeholder="E-MAIL" autofocus>
          </div>
          <div class="mb-5">
            <input class="input-form" type="text" name="telefone" id="telefone" placeholder="TELEFONE" autofocus>
          </div>
          <div class="mb-5">
            <input class="input-form" type="text" name="empresa" id="empresa" placeholder="EMPRESA" autofocus>
          </div>
          <div class="mb-5">
            <input class="input-form" type="text" name="mensagem" id="mensagem" placeholder="MENSAGEM" autofocus>
          </div>
          <p id="demo" style="color:red; font-family:'Times New Roman', Times, serif;"></p>
          <div class="mb-5">
            <button class="button-form" id="sendEmail">ENVIAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="./public/javascript/portal/contato.js"></script>
<%- include('./footer') %>
