<div id="footer" class="footer row mx-0 w-100 base-container">
    <div class="col-md-3 px-0 mr-4">
        <div class="footer__header">Localização</div>
        <div class="py-3 footer__subheader">Escritório</div>
        <div class="footer__text">
            <div>Rua Prof. Aprígio Gonzaga, 35 - Cj. 32</div>
            <div>04045-004, São Paulo - SP</div>
        </div>
        <a class="footer__link" href="https://goo.gl/maps/g37JpLzQ1u4727KS8">
            <i class="fas fa-map-marker-alt mr-1"></i>
            <div>Ver no mapa</div>
        </a>
    </div>
    <div class="col-md-3 align-self-end px-0">
        <div class="py-3 footer__subheader">Fábrica</div>
        <div class="footer__text">
            <div>Estrada Sartunino Pereira, 477</div>
            <div>08485-570, São Paulo - SP</div>
        </div>
        <a class="footer__link" href="https://goo.gl/maps/YiFqnGVudNRBMWE86">
            <i class="fas fa-map-marker-alt mr-1"></i>
            <div>Ver no mapa</div>
        </a>
    </div>
    <div class="col-md-2 align-self-end px-0">
        <div class="py-3 footer__header">Contato</div>
        <div class="footer__text mb-4">
            <div>+55 11 2949-6644</div>
            <div>+55 11 96474-1323</div>
        </div>
        <a href="mailto:contato@aplinova.com" class="footer__subheader">contato@aplinova.com</a>
    </div>
    <div class="col-md-3 ml-auto py-3 px-0">
        <img src="./public/img/logo-light.svg" class="footer__logo" />
        <div class="footer__text pt-3">Todos os direitos reservados.</div>
        <div class="mt-2 footer_social-icons">
            <a class="fab fa-facebook-f"></a>
            <a class="fab fa-linkedin-in"></a>
        </div>
    </div>
    </div>
</div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./public/javascript/portal/navbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
