<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/3bb5488a16.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./public/stylesheets/portal/index.css">
        <title>Aplinova</title>
    </head>
    <body>
        <div id="main" class="row">
            <div id="mainCol" class="col">
                <div id="menu" class="row" style="height: 80px;">
                    <div class="col-md-2">
                      <div class="row justify-content-center align-items-center" style="height: 80px;">
                        <img width="80px" src="https://image.shutterstock.com/image-photo/blackboard-inscribed-scientific-formulas-calculations-600w-1065730331.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-9">
                        <!-- Menu -->
                        <div class="row justify-content-end align-items-center" style="height: 80px;">
                            <div class="col-md-2">
                              <div class="dropdown">
                                <div class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  produtos
                                </div>
                                <div class="dropdown-menu" >
                                  <a class="dropdown-item" href="#">aromas</a>
                                  <a class="dropdown-item" href="#">corantes</a>
                                  <a class="dropdown-item" href="#">proteínas</a>
                                  <a class="dropdown-item" href="#">substituto de açucar e fibras</a>
                                  <a class="dropdown-item" href="#">produtos naturais</a>
                                  <a class="dropdown-item" href="#">produtos veganos e orgânicos</a>
                                  <a class="dropdown-item" href="#">ingredientes funcionais</a>
                                  <a class="dropdown-item" href="#">revestimentos para confeitaria</a>
                                  <a class="dropdown-item" href="#">food service</a>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2">empresa</div>
                            <div class="col-md-2">parceiros</div>
                            <div class="col-md-2"><a href="./contato" class="menu" style="text-decoration: none;">contato</a></div>
                        </div>
                    </div>
                    <div class="col-md-1">
                      <div class="row align-items-center" style="height: 80px;"><i class="fas fa-times fa-2x"></i></div>
                    </div>
                </div>