<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/3bb5488a16.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./public/stylesheets/portal/index.css">
        <title>Aplinova</title>
    </head>
    <body>
        <div id="main" class="row">
            <div id="mainCol" class="col">
                <div id="menu" class="row navbar">
                    <img class="navbar__logo" src="./public/img/logo-dark.svg" alt="Logo" />
                    <div class="col-md-9 navbar__items">
                        <div class="navbar__item navbar__item--products">
                          <div class="navbar__products-dropdown-container">
                            <div class="navbar__products-dropdown">
                              <a class="navbar__products-dropdown-item" href="#">aromas</a>
                              <a class="navbar__products-dropdown-item" href="#">corantes</a>
                              <a class="navbar__products-dropdown-item" href="#">proteínas</a>
                              <a class="navbar__products-dropdown-item" href="#">substituto de açucar e fibras</a>
                              <a class="navbar__products-dropdown-item" href="#">produtos naturais</a>
                              <a class="navbar__products-dropdown-item" href="#">produtos veganos e orgânicos</a>
                              <a class="navbar__products-dropdown-item" href="#">ingredientes funcionais</a>
                              <a class="navbar__products-dropdown-item" href="#">revestimentos para confeitaria</a>
                              <a class="navbar__products-dropdown-item" href="#">food service</a>
                            </div>
                          </div>
                          <a class="navbar__link">produtos</a>
                        </div>
                        <a class="navbar__item navbar__link">empresa</a>
                        <a class="navbar__item navbar__link">parceiros</a>
                        <a class="navbar__item navbar__link" href="./contato">contato</a>
                    </div>
                    <div class="col-md-1">
                      <div class="row align-items-center navbar__close-icon fas fa-times fa-2x" style="height: 80px;"></div>
                    </div>
                </div>
