<div id="content" class="introduction__container base-container">
    <div class="introduction__content">
        <div class="introduction__main-text pt-3">
            <%- t.home.providingQualityProducts %>
        </div>
        <div class="introduction__secondary-text pt-3">
            <p>
                <%- t.home.weOfferA %>
            </p>
            <p>
                <%- t.home.weAreConstantly %>
            </p>
        </div>
    </div>

</div>
