<div id="content" class="introduction__container base-container">
    <div class="introduction__header pt-3">
        <i class="fas fa-square fas-sm mr-3"></i>
        Apliquimica agora é Aplinova
    </div>
    <div class="introduction__content">
        <div class="introduction__main-text pt-3">
            <b>Qualidade</b> para ajudar os nossos <b>clientes</b> a alcançarem seus <b>objetivos</b>
        </div>
        <div class="introduction__secondary-text pt-3">
            <p>
                Oferecemos uma linha diversificada de produtos químicos, extratos vegetais, ingredientes naturais e oturos insumos para as indústrias de alimentos, bebidas, cosméticos, entre outras.
            </p>
            <p>
                Estamos em constante busca por novos produtos priorizando sempre um alto padrão de qualidade.
            </p>
        </div>
    </div>

</div>
