<div id="parceiros" class="home-partners__header pt-3">
    <i class="fas fa-square fas-sm mr-3"></i>
    Nossos <b class="ml-2">parceiros</b>
</div>
<div class="home-partners__subheader">A Aplinova conta com parcerias internacionais de elevado nível e importância, que primam pela competência comercial, tecnológica e inovativa em seus respectivos campos de atuação.</div>
<div class="swiper-container d-none d-md-block px-5 mb-5">
    <div class="swiper-wrapper">
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/angel.png" alt="Angel" />
            <img src="./public/img/partners/caruma.png" alt="Caruma" />
            <img src="./public/img/partners/fibersse.png" alt="Fibersse" />
            <img src="./public/img/partners/kanbo.png" alt="Kanbo" />
            <img src="./public/img/partners/sethness.png" alt="Sethness" />
        </div>
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/awa.png" alt="AWA" />
            <img src="./public/img/partners/jinnong.png" alt="Jinnong" />
            <img src="./public/img/partners/shuren.jpg" alt="Shuren" />
            <img src="./public/img/partners/sunwin.jpg" alt="Sunwin" />
            <img src="./public/img/partners/yortay.png" alt="Yortay" />
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="swiper-container d-block d-md-none px-5 mb-5">
    <div class="swiper-wrapper">
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/angel.png" alt="Angel" />
            <img src="./public/img/partners/caruma.png" alt="Caruma" />
        </div>
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/fibersse.png" alt="Fibersse" />
            <img src="./public/img/partners/kanbo.png" alt="Kanbo" />
        </div>
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/sethness.png" alt="Sethness" />
            <img src="./public/img/partners/awa.png" alt="AWA" />
        </div>
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/jinnong.png" alt="Jinnong" />
            <img src="./public/img/partners/shuren.jpg" alt="Shuren" />
        </div>
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/sunwin.jpg" alt="Sunwin" />
            <img src="./public/img/partners/yortay.png" alt="Yortay" />
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
        loop: true,
        autoplay: {
            delay: 5000,
        },
        grabCursor: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>
