<div id="content" class="introduction__container base-container">
    <div class="introduction__content">
        <div class="introduction__main-text pt-4 pt-md-3">
            <i class="fas fa-square fas-sm mr-1"></i>
            <%- t.home.providingQualityProducts %>
        </div>
        <div class="introduction__secondary-text pt-3">
            <p><%- t.home.weOfferA %></p>
            <div><%- t.home.weAreConstantly %></div>
        </div>
    </div>

</div>
