<div class="home-company row mt-5 mx-0 w-100">
    <div class="col-12 col-md-6 home-company__content">
        <div class="home-company__header">
            <i class="fas fa-square fas-sm mr-3"></i>
            Nossa <b class="ml-2">empresa</b>
        </div>
        <div class="home-company__text my-4">
            <p>
                Fundada em 1987, a Aplinova é uma empresa de capital nacional, com sede administrativa, laboratório, planta piloto e unidade fabril na capital de São Paulo.
            </p>
            <p>
                Tradicional fornecedora de corantes caramelo especiais para a indústria de alimentos, fármacos e bebidas, está sempre atenta às tendências do mercado, agregando vários outros segmentos de produtos ao seu portifólio.
            </p>
        </div>
        <a href="/nossaempresa" class="btn--expand">
                <span class="btn--expand__circle">
                  <span class="icon arrow"></span>
                </span>
            <span class="btn--expand__text">Saiba mais</span>
        </a>
    </div>
    <img src="./public/img/home-nossa-empresa.jpg" class="d-none d-md-block col-md-6 p-0" />
</div>
