<div id="parceiros" class="home-partners__header pt-3">
    <i class="fas fa-square fas-sm mr-3"></i>
    <%- t.home.ourPartners %>
</div>
<div class="home-partners__subheader"><%- t.home.aplinovaPartnersWith %></div>
<div class="swiper-container d-none d-md-block px-5 mb-5">
    <div class="swiper-wrapper">
        <div class="swiper-slide home-partners__slide">
            <a class="home-partners__slide-item home-partners__slide-item--bigger" href="https://www.virginiadare.com/" target="_blank">
                <img src="./public/img/partners/virginiadare.png" alt="Virginia Dare" />
            </a>
            <a class="home-partners__slide-item" href="https://www.fingres.com/"  target="_blank">
                <img src="./public/img/partners/Fingres.png" alt="Fingres" />
            </a>
            <a class="home-partners__slide-item home-partners__slide-item--bigger" href="https://www.sethness.com/"  target="_blank">
                <img src="./public/img/partners/sethness.png" alt="Sethness" />
            </a>
            <a class="home-partners__slide-item" href="http://cfigroup.com.my/" target="_blank">
                <img src="./public/img/partners/CFG.png" alt="CFG" />
            </a>
        </div>
        <div class="swiper-slide home-partners__slide">
            <a class="home-partners__slide-item" href="http://www.ingredients-solutions.com/por/home.html"  target="_blank">
                <img src="./public/img/partners/IS.jpg" alt="IS" />
            </a>
            <a class="home-partners__slide-item">
                <img src="./public/img/partners/gloripan.png" alt="Gloripan" />
            </a>
            <a class="home-partners__slide-item" href="http://www.maltitol.com.cn" target="_blank">
                <img src="./public/img/partners/Lujian.png" alt="Shandong Lujian" />
            </a>
            <a class="home-partners__slide-item home-partners__slide-item--bigger" href="https://www.mantrose.com/" target="_blank">
                <img src="./public/img/partners/mantrose.png" alt="mantrose" />
            </a>
        </div>
        <div class="swiper-slide home-partners__slide">
            <a class="home-partners__slide-item" href="http://www.blb-cn.com/index.php?lang=en" target="_blank">
                <img src="./public/img/partners/BLB.jpg" alt="BLB" />
            </a>
            <a class="home-partners__slide-item" href="https://boublenza.com/" target="_blank">
                <img src="./public/img/partners/caruma.png" alt="Caruma" />
            </a>
            <a class="home-partners__slide-item home-partners__slide-item--bigger" href="http://www.huasweet.com/index_en.html" target="_blank">
                <img src="./public/img/partners/Huasweet.png" alt="Huasweet" />
            </a>
            <a class="home-partners__slide-item" href="http://www.jinnongbio.com/html/en/" target="_blank">
                <img src="./public/img/partners/jinnong.png" alt="Jinnongbio" />
            </a>
        </div>
        <div class="swiper-slide home-partners__slide">
            <a class="home-partners__slide-item" href="http://en.jianyuangroup.com/" target="_blank">
                <img src="./public/img/partners/Jianyuan.png" alt="Jianyuan" />
            </a>
            <a class="home-partners__slide-item" href="http://www.sunwinstevia.com/" target="_blank">
                <img src="./public/img/partners/sunwin.jpg" alt="Sunwin" />
            </a>
            <a class="home-partners__slide-item home-partners__slide-item--bigger" href="http://en.lygshuren.com/" target="_blank">
                <img src="./public/img/partners/shuren.jpg" alt="Shuren" />
            </a>
            <a class="home-partners__slide-item" href="https://yortay.com/" target="_blank">
                <img src="./public/img/partners/yortay.png" alt="Yortay" />
            </a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<div class="swiper-container d-block d-md-none px-5 mb-5">
    <div class="swiper-wrapper">
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/angel.png" alt="Angel" />
            <img src="./public/img/partners/caruma.png" alt="Caruma" />
        </div>
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/fibersse.png" alt="Fibersse" />
            <img src="./public/img/partners/kanbo.png" alt="Kanbo" />
        </div>
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/sethness.png" alt="Sethness" />
            <img src="./public/img/partners/awa.png" alt="AWA" />
        </div>
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/jinnong.png" alt="Jinnong" />
            <img src="./public/img/partners/shuren.jpg" alt="Shuren" />
        </div>
        <div class="swiper-slide home-partners__slide">
            <img src="./public/img/partners/sunwin.jpg" alt="Sunwin" />
            <img src="./public/img/partners/yortay.png" alt="Yortay" />
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
        loop: true,
        autoplay: {
            delay: 5000,
        },
        grabCursor: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>
