<%- include('./header') %>
<%- include('./banner', {title:'<p>Uma trajetoria</p> <p>de credibilidade</p> <p><strong>e inovacao<strong></p>'})%>

<div class="container-fluid pl-5 pr-5 mt-5">
  <div class="row mb-5" style="height:434px;">
    <div class="col-md-6">
      <div class="row mb-3 align-items-center">
        <i class="fas fa-square fa-sm" style="color:red;"></i><span class="ml-2" style="color:black; font-size:30px;">Nossa <strong>Empresa</strong></span>
      </div>
      <div class="row">
        <article class="">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </article>
      </div>
    </div>
    <div class="col-md-6" style="background-color:lightgray;">
    </div>
  </div>
</div>
<div class="container-fluid p-0">
  <div class="row mb-5" style="height:434px; border-top: 5px solid lightgreen;">
    <div class="col-md-6" style="background-color:orange;">

    </div>
    <div class="col-md-6" style="background-color:grey;">
      <div class="row mb-3 align-items-center" style="padding:15px;">
        <i class="fas fa-square fa-sm" style="color:red;"></i><span class="ml-2" style="color:lightgreen; font-size:30px;">Nossa <strong>Empresa</strong></span>
      </div>
      <div class="row" style="padding:15px;">
        <article class="" style="color:white;">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pl-5 pr-5 mt-5">
  <div class="row mb-5">
    <span style="font-size: 23px;"><p>A <strong>Aplinova</strong> preza pela qualidade dos seus produtos e neste sentido</p>
    <p>trabalha para melhorar constantemente sua unidade fabril e laboratorios</p></span>
  </div>
  <div class="row mb-5" style="height:434px;">
    <div class="col-md-3" style="background-color:gray;">
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-8" style="background-color:lightgray;">
    </div>
  </div>
</div>
<%- include('./footer') %>
