<div class="card-body subcategoria-item">
  <div class="row subcategoria-item__title">
      <img class="subcategoria-item__icon" src="./public/img/icon-produtos.svg" alt="Item" />
      <div class="subcategoria-item__text">
          <%= hit.dataValues[`titulo${t.code}`]%>
      </div>
  </div>
  <div class="row subcategoria-item__list-container">
      <% if (hit.dataValues.produtos && hit.dataValues.produtos.length) {%>
          <ul class="subcategoria-item__list">
              <% hit.dataValues.produtos.forEach(produto => {%>
                  <li><p><%= produto.dataValues[`titulo${t.code}`] %></p></li>
              <% }) %>
          </ul>
      <% } %>
  </div>
</div>
