<div class="empresa-timeline__item">
    <div class="empresa-timeline__marker">
        <hr />
        <div class="empresa-timeline__circle"><div class="empresa-timeline__circle-inner"></div></div>
    </div>
    <div class="empresa-timeline__item-content">
        <div class="empresa-timeline__item-header"></div>
        <div class="empresa-timeline__item-body"></div>
    </div>
</div>
