.empresa__container {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

@media (min-width: 640px) {
    .empresa__container {
        padding-right: 1rem;
    }
}

.empresa__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #292828;
    font-weight: 400;
    line-height: 1.25;
    font-size: 2.5rem;
}

.empresa__header i {
    color: red;
    font-size: medium;
}

.empresa__content {
    display: flex;
    flex-direction: column;
}

.empresa__main-text {
    color: #292828;
    line-height: 1.25;
    font-size: 1.25rem;
    padding-right: 1rem;
    width: 100%;
    font-weight: 400;
    text-decoration: none;
}

.empresa-estrutura {
    width: 100%;
    border-top: 6px #88B73A solid;
}

.empresa-estrutura .empresa-estrutura__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #88B73A;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.25;
}

.empresa-estrutura .empresa-estrutura__header i {
    color: red;
    font-size: medium;
}

.empresa-estrutura .empresa-estrutura__content {
    background-color: #292828;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
}

.empresa-estrutura .empresa-estrutura__text {
    color: #F0F6ED;
    font-size: 1.125rem;
}

.empresa__secondary-text {
    font-size: 2rem;
    line-height: 1.125;
    width: 100%;
}

.empresa__bottom-images-container {
    height: 600px;
    margin-bottom: 5rem;
}

.empresa__bottom-first-image {
    width: 35%;
    margin-right: 2rem;
}

.empresa__bottom-second-image {
    width: 60%;
}
