@import '../components/button.css';
@import '../components/footer.css';
@import '../components/navbar.css';
@import '../components/categoria-item.css';
@import '../components/subcategoria-item.css';
@import '../components/home-introduction.css';
@import '../components/home-company.css';
@import '../components/produto-card.css';
@import '../components/carrousel.css';
@import '../components/banner.css';
@import './contato.css';
@import './empresa.css';

html, body{
    margin:0;
    padding: 0;
    width: 100vw;
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

ul li{
    list-style: none;
}
