@import '../components/button.css';
@import '../components/footer.css';

html, body{
    margin:0;
    padding: 0;
    width: 100vw;
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
  }

ul li{
    display:inline;
}

a.menu{
    text-decoration: none;
    color: black;
}

a.menu:hover{
    color: lightgreen;
}
