.produto-view__categories {
    border-top: #292828 solid 4px;
    margin-left: 6rem;
    margin-right: calc(6rem + 16px);
    padding-top: 1.25rem;
}

.produto-view__banner {
    height: 80vh;
    opacity: 1;
    filter: brightness(90%);
}

.produto-view__banner:after {
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 83%);
}

.produto-view__categories.produto-view__categories--subcategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.produto-view__segments {
    background-color: #F0F6ED;
    font-size: 1.25rem;
}

.produto-view__segments i {
    color: red;
    font-size: small;
}

.produto-view__segments span {
    color: #292828;
    margin-left: 0.5rem;
    font-weight: normal;
}

.produto-view__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

.produto-view__title.produto-view__title--sm {
    font-size: 2.25rem;
}

.produto-view__title span {
    opacity: 100%;
    max-width: 100%;
    line-height: 1.2;
}

@media (max-width: 640px) {
    .produto-view__categories {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (min-width: 768px) {
    .produto-view__categories--revconfeitaria .categoria-item,
    .produto-view__categories--prodveganos .subcategoria-item {
        width: 50%;
    }

    .produto-view__categories--foodservice .subcategoria-item {
        width: 33%;
    }

    .produto-view__categories--foodservice .subcategoria-item .subcategoria-item__title {
        width: 100%;
    }

    .produto-view__categories--foodservice .subcategoria-item .subcategoria-item__text {
        width: 90% !important;
    }

    .produto-view__categories--foodservice .subcategoria-item__list-container {
        align-self: flex-start;
    }

    .produto-view__categories--subacucar .subcategoria-item .subcategoria-item__title {
        min-width: 350px;
        width: 85%;
    }

    .produto-view__categories--proteinas .subcategoria-item .subcategoria-item__title,
    .produto-view__categories--prodveganos .subcategoria-item .subcategoria-item__title,
    .produto-view__categories--ingfuncionais .subcategoria-item .subcategoria-item__title {
        min-width: 300px;
    }
    .produto-view__categories--proteinas .subcategoria-item .subcategoria-item__text,
    .produto-view__categories--prodveganos .subcategoria-item .subcategoria-item__text,
    .produto-view__categories--ingfuncionais .subcategoria-item .subcategoria-item__text {
        width: 85% !important;
    }

    .produto-view__categories--prodveganos .subcategoria-item__list-container {
        margin-left: 1rem;
    }

    .produto-view__categories--subacucar .subcategoria-item__list-container {
        margin-left: -5rem;
    }
}

@media (min-width: 640px) and (max-width: 961px) {
    .produto-view__categories--proteinas .subcategoria-item {
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .produto-view__categories {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .produto-view__title {
        padding: 0 3rem;
        font-size: 2rem;
    }
}
