.produto-view__categories {
    border-top: #292828 solid 4px;
    margin-left: 6rem;
    margin-right: calc(6rem + 16px);
    padding-top: 1.25rem;
}

@media (max-width: 640px) {
    .produto-view__categories {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 768px) {
    .produto-view__categories {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

.produto-view__banner {
    height: 80vh;
    opacity:1;
    filter:brightness(90%);
}

.produto-view__banner:after {
    content: '';
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(180deg, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 83%);
}

.produto-view__categories.produto-view__categories--subcategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.produto-view__segments {
    background-color: #F0F6ED;
}

.produto-view__segments i {
    color: red;
    font-size: small;
}

.produto-view__segments span {
    color: #292828;
    margin-left: 0.5rem;
    font-weight: normal;
}

.produto-view__title {
    background: rgba(225, 232, 215, 0.9);
    height: 80px;
    font-size: 2.5rem;
    text-transform: uppercase;
    border-bottom: #292828 solid 4px;
}

.produto-view__title.produto-view__title--sm {
    font-size: 2.25rem;
}

.produto-view__title span {
    opacity: 100%;
}
