<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="/login/signup" method="post">
            <label>First Name</label>
            <input name="firstname" type="text">
            <label>Last Name</label>
            <input name="lastname" type="text">
            <label>User name</label>
            <input name="username" type="text">
            <label>Email</label>
            <input name="email" type="email">
            <label>Password</label>
            <input name="password" type="password">
            <input type="submit" value="Cadastrar"> 
        </form>
    <body>
</html>