* {
    font-family: Arial, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}

*::selection {
    background-color: #2b71c05b;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: white !important;
    overflow-x: hidden;
    min-height: 100%;
    user-select: none;
}

.user_card {
    /* height: 400px; */
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #292828;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
/*  */
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 30px;
}

i{
  margin-top: 10px;
  color: white;
}

.logo {
    width: 40px;
}

.login_btn {
    width: 100%;
    background: black !important;
    color: white !important;
}

.login_btn:hover {
    background: #88B73A !important;
    color: white !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login_btn:active {
    width: 100%;
    background: #353535 !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.input-group-text {
    background:black !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #88B73A !important;
}

.groupe-liens {
    margin-top: 15px;
}

.liens {
    color: #88B73A;
}

.liens:hover {
    color:white;
}

.btn-cadastrar:disabled{
    background-color: lightgray;
    border: 1px solid lightgray;
}

.btn-cadastrar:disabled:hover{
    background-color: lightgray;
    border: 1px solid lightgray;
}
