.btn--expand {
    min-width: 12rem;
    max-width: 175px;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    background: transparent;
}
.btn--expand .btn--expand__circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 2px solid #7B9C48;
    border-radius: 1.625rem;
}
.btn--expand .btn--expand__circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
.btn--expand .btn--expand__circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0;
    background: none;
}
.btn--expand .btn--expand__circle .icon.arrow::before {
    position: absolute;
    content: '✚';
    color: #7B9C48;
    font-size: 1.75rem;
    top: -1.35rem;
    right: 0.5rem;
    width: 0.625rem;
    height: 0.625rem;
}
.btn--expand .btn--expand__text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem 0;
    margin: 0 0 0 1.85rem;
    color: transparent;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
.btn--expand:hover .btn--expand__circle {
    width: 100%;
    background: #7B9C48;
}
.btn--expand:hover .icon.arrow::before {
    color: white;
}
.btn--expand:hover .btn--expand__text {
    color: #fff;
}

.btn--contrast {
    border: 2px solid #7B9C48;
    border-radius: 1.625rem;
    width: 8rem;
    height: 3rem;
    color: #88B73A;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 500;
    font-size: 1rem;
}

.btn--contrast:hover {
    transition-duration: 0.25s;
    color: #fff;
    border: 2px solid #88B73A;
    background-color: #88B73A;
}

.btn--contrast:focus, .btn--expand:focus {
    outline: none;
}

@media(max-width: 640px) {
    .btn--expand .btn--expand__circle {
        width: 100%;
        background: #7B9C48;
    }
    .btn--expand .icon.arrow::before {
        color: white !important;
    }
    .btn--expand .btn--expand__text {
        color: #fff;
    }
    .btn--contrast {
        transition-duration: 0.25s;
        color: #fff;
        border: 2px solid #88B73A;
        background-color: #88B73A;
    }
}
