#carouselBanner .carousel, #carouselBanner .carousel-inner {
    height: 500px;
}

@media (min-width: 640px) {
    #carouselBanner .carousel, #carouselBanner .carousel-inner {
        height: 80vh;
    }

    #carouselBanner .carousel-control-prev {
        width: 5%;
    }

    #carouselBanner .carousel-control-next {
        width: 7.5%;
    }

    #carouselBanner .carousel-caption {
        width: 375px;
        position: absolute;
        left: 100px;
        top: 200px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #carouselBanner .carousel-caption .carousel-caption__text {
        font-size: 2.625rem;
        font-weight: 400;
        line-height: 1.25;
    }
}

#carouselBanner .carousel-item:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 83%);
}

#carouselBanner .carousel-item {
    width: 100%;
    height: 100%;
}

#carouselBanner .carousel-item img {
    position:relative;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#carouselBanner .carousel-caption {
    margin-bottom: 6rem;
}

#carouselBanner .carousel-caption__text {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.25;
}

#carouselBanner .carousel-indicators li {
    height: 10px;
    width: 10px;
    background-color: #fff;
    opacity: 50%;
    border-radius: 100%;
    margin: 0 0.375rem;
}

#carouselBanner .carousel-indicators li.active {
    background-color: #fff;
    opacity: 100%;
}
