.home-company {
    width: 100%;
    height: 424px;
    border-top: 6px #88B73A solid;
}

.home-company .home-company__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #88B73A;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.25;
}

.home-company .home-company__header i {
    color: red;
    font-size: medium;
}

.home-company .home-company__content {
    background-color: #292828;
    padding: 2rem 4rem 2rem 6rem;
}

.home-company .home-company__text {
    color: #F0F6ED;
    font-size: 1.125rem;
}

.home-company img {
    height: 100%;
}
