.introduction__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 640px) {
    .introduction__container {
        padding: 1rem 1rem 0 1rem;
    }
}

.introduction__header {
    background-color: #292828;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    width: 100%;
    padding: 0.75rem 0;
    position: relative;
}

.introduction__header-content {
    width: 70%;
    text-align: center;
    font-weight: normal;
    font-size: 1.125rem;
    z-index: 20;
    background-color: #292828;
    padding: 0 1rem;
}

.introduction__header hr {
    background-color: #88B73A;
    height: 5px;
    width: 100%;
    font-size: medium;
    margin: 0;
    position: absolute;
}

.introduction__content {
    display: flex;
    flex-direction: column;
}

.introduction__main-text {
    color: #292828;
    line-height: 1.25;
    font-size: 1.75rem;
    width: 100%;
    font-weight: bolder;
}

.introduction__main-text .introduction__main-text--lighter {
    font-weight: lighter;
}

.introduction__main-text i {
    font-size: 1rem;
    color: #f91605;
    position: relative;
    top: -5px;
}

.introduction__secondary-text {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.25;
}

@media (min-width: 640px) {
    .introduction__container {
        padding: 2rem 3rem 0 3rem;
    }

    .introduction__content {
        flex-direction: row;
    }

    .introduction__main-text {
        font-size: 2.5rem;
        width: 50%;
        margin-right: 1rem;
        padding-right: 4rem;
        font-weight: bolder;
    }

    .introduction__main-text i {
        font-size: 1rem;
        color: #f91605;
        position: relative;
        top: -5px;
    }

    .introduction__main-text .introduction__main-text--lighter {
        font-weight: lighter;
    }

    .introduction__secondary-text {
        width: 50%;
    }

    .introduction__header {
        font-size: 1.25rem;
    }

    .introduction__header-content {
        min-width: 30%;
        font-size: 1.5rem;
        padding: 0 1.5rem;
    }
}
