.navbar {
    width: 100%;
    transition: 0.4s;
    position: fixed;
    z-index: 30;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.navbar.navbar--initial-state {
    height: 160px;
    background: transparent;
    color: #fff;
}

.navbar--scrolled-state {
    height: 120px;
    background: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.navbar--menu-state {
    height: 160px;
    background: #fff !important;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
}

.navbar.navbar--initial-state .navbar__link {
    color: #fff;
}

.navbar.navbar--initial-state .navbar__logo.navbar__logo--dark {
    display: none;
}
.navbar.navbar--initial-state .navbar__logo.navbar__logo--light {
    display: inline-block;
}
.navbar.navbar--scrolled-state .navbar__logo.navbar__logo--dark {
    display: inline-block;
}
.navbar.navbar--scrolled-state .navbar__logo.navbar__logo--light {
    display: none;
}

.navbar.navbar--menu-state .navbar__logo.navbar__logo--dark {
    display: inline-block !important;
}
.navbar.navbar--menu-state .navbar__logo.navbar__logo--light {
    display: none !important;
}

.navbar.navbar--initial-state .navbar__items-active {
    display: none;
}
.navbar:not(.navbar--initial-state) .navbar__items-active {
    display: flex;
}
.navbar:not(.navbar--menu-state) .navbar__close-icon {
    display: none;
}
.navbar:not(.navbar--initial-state) .navbar__items-initial {
    display: none;
}

.navbar__logo {
    width: 16rem;
}

.navbar .navbar__items-initial {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar__initial-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.125rem;
    letter-spacing: 0.05em;
    padding: 0 4rem 0 0;
    text-decoration: none !important;
    color: #fff;
}

a.navbar__initial-item:hover {
    color: #88B73A;
}

.navbar__initial-item i {
    font-size: 1.75rem;
    padding-right: 0.5rem;
    color: #88B73A;
}

.navbar .navbar__items-active {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar .navbar__item {
    height: 100%;
    padding: 0 0 0 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
}

.navbar .navbar__products-dropdown-container {
    position: relative;
    height: 0px;
    transition: 0.5s ease all;
}

.navbar .navbar__products-dropdown {
    position: absolute;
    top: 60px;
    display: none;
    padding: 0.75rem 1.75rem;
    width: 24rem;
    z-index: 0;
    background-color: #292828;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px 3px rgba(0, 0, 0, 0.5);
    border-radius: 0.125rem;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.navbar.navbar--menu-state .navbar__products-dropdown {
    top: 80px;
}

.navbar .navbar__products-dropdown--active {
    z-index: 30;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.navbar .navbar__item.navbar__item--products {
    cursor: pointer;
}

.navbar .navbar__products-dropdown > a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 0.25rem 0;
    opacity: 75%;
}

.navbar .navbar__products-dropdown > a:hover {
    color: #88B73A;
}

.navbar .navbar__item--products-mobile {
    display: flex;
    flex-direction: row;
}

.navbar .navbar__products-dropdown-mobile {
    display: none;
    padding: 0.75rem 1.75rem;
    background-color: #292828;
    width: 100%;
    transition: 0.5s ease all;
}

.navbar .navbar__products-dropdown-mobile--active {
    display: flex;
    flex-direction: column;
}

.navbar .navbar__products-dropdown-mobile-container {
    transition: 0.5s ease all;
}

.navbar .navbar__products-dropdown-mobile > a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.25rem 0;
    opacity: 75%;
    text-transform: lowercase;
}

.navbar .navbar__products-icon {
    width: 1.125rem;
    height: 1.125rem;
    margin-left: auto;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    transition: 0.25s ease all;
}

.navbar .navbar__item--products-mobile--active .navbar__link {
    color: #88B73A;
}

.navbar .navbar__item--products-mobile--active .navbar__products-icon {
    transform: rotate(90deg);
}

.navbar .navbar__link {
    cursor: pointer;
    text-decoration: none;
    color: #292828;
    font-weight: 600;
    font-size: larger;
}

.navbar .navbar__link:hover {
    color: #88B73A;
}

.navbar .navbar__icon {
    height: 100%;
    cursor: pointer;
}

.navbar .navbar__icon:hover {
    color: #88B73A;
}

.navbar__mobile-lang-btn {
    color: #88B73A;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #88B73A;
    border-radius: 6px;
    text-align: center;
    padding: 0.125rem 0.5rem;
}

.navbar__mobile-lang-btn.navbar__mobile-lang-btn--active {
    background-color: #88B73A;
    color: white;
}

.navbar__lang-container {
    margin-top: 9.5%;
    align-self: flex-start;
}

@media (max-width: 1024px) {
    .navbar__lang-container {
        margin-top: 14%;
    }
}

.navbar__lang-selector {
    border: 1px solid white;
    border-radius: 6px;
    padding: 0.25rem 0;
    position: relative;
    transition: 0.5s ease all;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 35px;
    align-self: flex-start;
}

.navbar__lang-selector.navbar__lang-selector--active {
    height: 90px;
}

.navbar__lang-selector.navbar__lang-selector--active:before {
    transform: rotate(180deg);
}

.navbar__lang-selector:hover {
    border-color: #88B73A;
}

.navbar__lang-option {
    transition: 0.5s ease color, 0.5s ease font-weight, 0.5s ease background-color;
    padding: 0.125rem 1.25rem 0.125rem 0.5rem;
    color: white;
}

.navbar__lang-option:not(.navbar__lang-option--active):hover {
    color: #88B73A;
    font-weight: bold;
    background-color: rgba(136, 183, 58, 0.1);
}

.navbar__lang-selector:hover:before {
    border-color: transparent transparent #88B73A transparent;
}

.navbar__lang-selector:before {
    content:"\A";
    border-style: solid;
    border-width: 0 5px 7.5px 5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 4px;
    top: 12px;
    transition: 0.5s ease all;
}

.navbar__lang-option.navbar__lang-option--selected {
    display: none;
}

.navbar__lang-selector:not(.navbar__lang-selector--active) .navbar__lang-option:not(.navbar__lang-option--active) {
    visibility: hidden;
}

@media (max-width: 640px) {
    .navbar {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar__items-initial, .navbar__items-active {
        display: none !important;
    }

    .navbar--scrolled-state {
        height: 100px;
    }

    .navbar__logo {
        width: 12rem;
    }

    .navbar.navbar--menu-state .navbar__menu-icon {
        display: none !important;
    }
.navbar.navbar--menu-state .navbar__close-icon {
        display: flex !important;
    }

    .navbar:not(.navbar--menu-state) .navbar__items-mobile {
        display: none !important;
    }

    .navbar__items-mobile .navbar__item {
        padding: 0.5rem 0 0.6rem 0;
        border-bottom: 1px solid #292828;
        justify-content: flex-start;
    }

    .navbar.navbar--initial-state {
        height: 100px;
    }

    .navbar--menu-state {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        position: absolute;
        height: unset;
        min-height: 160px !important;
    }
}

@media (min-width: 640px) and (max-width: 968px) {
    .navbar__initial-item {
        font-size: 1rem;
        letter-spacing: 0em;
        padding: 0 2.5rem 0 0;
    }

    .navbar .navbar__link {
        font-size: 1rem;
    }

    .navbar .navbar__item {
        padding: 0 0 0 1.5rem;
    }

    .navbar__logo {
        width: 13rem;
    }

    .navbar__lang-container {
        margin-top: 17.5%;
    }
}

@media (min-width: 969px) and (max-width: 1280px) {
    .navbar .navbar__item {
        padding: 0 0 0 2rem;
    }
}
