.produto-card {
    border-radius: 0;
    width: 100%;
    border: none;
    max-height: 560px;
    overflow: hidden;
    position: relative;
}

a.produto-card {
    text-decoration: none;
}

.produto-card .card-img-top {
    border-radius: 0;
}

.produto-card .card-body {
    border: none;
    border-bottom: 5px solid #292828;
    color: #292828;
    font-weight: 500;
    background-color: #F0F6ED;
    text-align: center;
    text-transform: uppercase;
    padding: 0 2rem;
    height: 120px;
}

.produto-card .produto-card__overlay {
    position: absolute;
    height: 0%;
    width: 100%;
    padding-top: 3rem;
    bottom: 0;
    opacity: 0;
}

.produto-card .produto-card__overlay-content {
    height: 100%;
    width: 100%;
    background-color: #292828;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    color: transparent;
}

.produto-card:hover .produto-card__overlay {
    transition: opacity 0.75s, height 0.5s linear;
    opacity: 1;
    height: 100%;
}

.produto-card .produto-card__overlay-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.125;
    position: absolute;
    top: 75px;
    padding: 0 2rem;
}

.produto-card:hover .produto-card__overlay-text {
    color: #88B73A;
}
