.subcategoria-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0.75rem;
    align-items: center;
}

.subcategoria-item .subcategoria-item__icon {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.subcategoria-item .subcategoria-item__text {
    font-weight: 700;
    color: #292828;
    font-size: 1.6rem;
    line-height: 1.375;
    width: 90%;
}

.subcategoria-item ul li {
    list-style: initial !important;
}

.subcategoria-item .subcategoria-item__list {
    margin-top: 1rem;
}

.subcategoria-item .subcategoria-item__list p {
    margin-bottom: 0.75rem;
    font-size: 1.4rem;
    padding-right: 0.5rem;
    min-width: 275px;
    max-width: 310px;
}

@media (max-width: 640px) {
    .subcategoria-item__list-container {
        width: 100%;
    }

    .subcategoria-item__title {
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .subcategoria-item {
        width: 40%;
        height: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1025px){
    .produto-view__categories--foodservice .subcategoria-item {
        width: 40% !important;
    }
}

@media (min-width: 961px) {
    .subcategoria-item {
        width: 33.333333%;
        height: 100%;
    }

    .subcategoria-item .subcategoria-item__text {
        width: 60% !important;
    }

    .produto-view__categories--subacucar .subcategoria-item__text {
        width: 69% !important;
    }
}
