.subcategoria-item {
    width: 45% !important;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0.75rem;
    align-items: start;
}

.subcategoria-item .subcategoria-item__icon {
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
}

.subcategoria-item .subcategoria-item__text {
    font-weight: 700;
    color: #292828;
    font-size: 1.25rem;
    line-height: 1.375;
}

.subcategoria-item ul li {
    list-style: initial !important;
}

.subcategoria-item .subcategoria-item__list {
    margin-top: 1rem;
}

.subcategoria-item .subcategoria-item__list p {
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
}

@media (min-width: 640px) {
    .subcategoria-item {
        width: 33.333333%;
        height: 100%;
    }

    .subcategoria-item .subcategoria-item__text {
        width: 90%;
    }
}
