<%- include('../header') %>
<div id="banner" class="produto-view__banner" style="background: no-repeat center/cover url('./public/img/proteinas.jpg')">
  <div class="row justify-content-center h-100">
    <div class="col-md-8 col-lg-6">
      <div class="row align-items-end" style="height:100%;">
        <div class="col d-flex justify-content-center align-items-center produto-view__title">
          <span>Proteínas</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="produto-view__content">
  <div class="row mt-5">
    <div class="col">
      <div class="row justify-content-center px-2">
        <div class="col-md-8 col-lg-6 px-4 p-md-0">
          Oferecemos a mais completa linha de fortificação proteica, vegetal, natural e orgânica.
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 produto-view__categories produto-view__categories--subcategories">
    <% if(proteinas){ %>
      <% proteinas.forEach(hit => { %>
        <%- include('../subcategoria-item', {hit}) %>
      <%})%>
    <% } %>
  </div>
  <div class="row base-container my-5 mx-0">
    <div class="col produto-view__segments">
      <div class="row flex-nowrap align-items-center p-3">
        <i class="fas fa-square"></i><span><b>Segmentos:</b> Suplementos, Alimentos, Bebidas, Fármacos, Nutrição Animal e Cuidados Pessoais.</span>
      </div>
    </div>
  </div>
</div>
<%- include('../footer') %>
